snippet #!
	#!/usr/bin/env python3
snippet uv
	#!/usr/bin/env -S uv run --script
	# /// script
	# requires-python = ">=3.11"
	# dependencies = [
	# ]
	# ///

snippet ifmain
	if __name__ == '__main__':
		$0

snippet log
	import logging
	log = logging.getLogger(__name__)

snippet slog
	import structlog
	log = structlog.get_logger()

